<!doctype html>
<html lang="ja">
  <head>
    <title>MMC-FFMpeg</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  </head>
  <body>
      <main id="vueapp">
        <div class="py-4 bg-dark text-white">
          <div class="container-fluid">
            <div class="h3 p-2">MMC用ffmpegエンコードツール 2021-09-02</div>
          </div>
        </div>

        <div class="py-4">
          <div class="container">
            <div class="d-flex flex-column">
              <div class="p-3 bg-dark text-white">Step-1 FFMpegのパラメータを設定する</div>
              <textarea class="form-control" rows="2" v-model.trim="ffmpegparam"></textarea>
            </div>
          </div>
        </div>

        <div class="py-4">
          <div class="container">
            <div class="d-flex flex-column border">
              <div class="p-3 bg-dark text-white">Step-2 変換ファイルを選択する</div>
              <div class="p-3">
                <input type="file" id="moviefile" multiple @input="moviefilechange()">
              </div>
              <table class="table" v-if="filelist.length>0">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 100px;">No</th>
                    <th class="text-center">ファイルパス</th>
                    <th class="text-center" style="width: 100px;">状態</th>

                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in filelist" :key="index">
                    <td class="text-center">{{index+1}}</td>
                    <td>{{item.filepath}}</td>
                    <td class="text-center">
                        <small>{{item.state}}</small>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="py-4">
          <div class="container">
            <div class="d-flex flex-column">
              <button type="button" class="btn btn-primary btn-lg btn-block" :class="[ismovieloading?'':'disabled']" @click="btnrun()">{{txtbtn}}</button>
            </div>
          </div>
        </div>

      </main>

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script>
        const { execSync,exec } = require('child_process');
        const fs = require('fs');

        var vueapp =new Vue({
          el:'#vueapp',
          data() {
            return {
              ffmpegparam:'-vcodec libx264 -vb 1100k -s 800x450 -acodec aac -ab 64k -aac_coder twoloop -pix_fmt yuv420p -movflags +faststart',
              moviefile:null,
              ismovieloading:false,
              txtbtn:'変換',
              filelist:[],
            }
          },
          methods: {
            moviefilechange:function(){
              var fileinput = document.querySelector('input[type=file]');
              var files = fileinput.files;
              var self = this;
              self.ismovieloading = false;
              self.txtbtn = '変換';
              self.filelist = [];

              if(files.length>0){
                for (var i = 0; i < files.length; ++i) {
                  console.log(files[i])
                  self.filelist.push({
                    filepath:files[i].path,
                    filename:files[i].name.substring(0,files[i].name.indexOf('.')),
                    state:'準備'
                  });
                }
                self.ismovieloading = true;
              }
            },
            btnrun:async function(){
              var self = this;
              if(self.filelist.length==0){
                return ;
              }
              this.ismovieloading = false;
              this.txtbtn = '変換中';

              window.setTimeout(function(){
                try {
                  execSync('mkdir output')
                } catch (error) {
                  // alert(error)
                }

                try{

                  for (let index = 0; index < self.filelist.length; index++) {
                    self.filelist[index] = self.filelist[index];
                    var tempoutputfilepath = `output\\${self.filelist[index].filename}_encord_aac_twoloop.mp4`;
                    self.filelist[index].state = '変換中';
                    if(fs.existsSync(tempoutputfilepath)){
                      fs.unlinkSync(tempoutputfilepath);
                    }
                    execSync(`ffmpeg.exe -i ${self.filelist[index].filepath} ${self.ffmpegparam} output\\${self.filelist[index].filename}_encord_aac_twoloop.mp4`);
                    self.filelist[index].state = '完了';
                  }
                  self.txtbtn = '変換完了';
                  alert('変換完了しました。');
                  execSync('start output')
                } catch (error) {
                  alert(error)
                }
              }, 500);
              
            },
          },
        })
      </script>
  </body>
</html>